body{
    font-family: avenir, Arial, Helvetica, sans-serif;
    color: grey;
}

h1, h2{
    color:rgb(129, 32, 32);
    margin: 0px 0px 0px 20px;
}

h3{
    font-size: 14px;
    color: rgb(129, 32, 32)
    ;
}

h1{
    border-bottom:1px solid rgb(129, 32, 32);
}

.first-paragraph{
    display: flex;
    margin: 20px;
}

.home-page-img{
    margin: 10px;
}

.quote{
    color: black;
    font-size: 20px;
    margin: 30px;
}
.history{
    font-size: 18px;
    margin: 20px;
}


.wine-list{
   
    list-style:circle;
}

.second-paragraph{
    margin: 100px;
    font-size: 16px ;
}

.classification{
    display: flex;
    margin: 10px 50px 10px 50px;
}
.classification img{
    width: 300px;
    margin: 10px 50px 10px 50px;
}

